@import "../../Resources/design-tokens/mixins";

img {
  max-width: 100%;
}

.card {
  background-color: #fff;
  max-width: 33rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 6px 36px;
  position: relative;
  margin-bottom: 3rem;

  @include respond(lg) {
    margin: 2rem;
    display: flex;
    max-width: 73.2rem;
    overflow: visible;
  }

  &__img {
    height: 34vh;
    overflow: hidden;

    @include respond(lg) {
      flex: 0 0 40%;
      height: auto;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    img {
      @include respond(lg) {
        min-height: 100%;
      }
    }
  }

  &__body {
    padding: 2rem 3rem;
  }

  &__title {
    color: var(--color-primary);
    font-size: 1.7rem;
    padding-top: 1.5rem;
    margin-bottom: 2.2rem;
  }

  &__text {
    margin-bottom: 3.5rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__author {
      display: flex;
      align-items: center;

      &-img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1.5rem;
      }

      &-name {
        color: var(--color-primary);
        font-weight: 700;
        font-size: 1.5rem;
      }
    }

    &__share__btn {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      border: none;
      z-index: 1;
      cursor: pointer;

      transition: all 0.2s;

      &:focus {
        outline: none;
      }

      &.open {
        background-color: var(--color-primary-light);
        path {
          fill: var(--color-bg);
        }
        transform: translateY(1rem);

        @include respond(lg) {
          transform: translateY(0);
        }
      }
    }
  }

  &__share {
    position: absolute;
    right: 0;
    bottom: -12%;
    width: 100%;
    background-color: var(--color-primary);
    display: flex;
    padding: 2rem;

    transition: all 0.2s;

    @include respond(lg) {
      max-width: 24.8rem;
      padding: 1.5rem 3.6rem;
      border-radius: 1rem;
      right: -10%;
      bottom: 33%;
      transform: scaleY(0);
      transform-origin: bottom;

      &::after {
        content: "";
        background-color: var(--color-primary);
        height: 2rem;
        width: 2rem;
        position: absolute;
        bottom: -1.7rem;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
      }
    }

    &.open {
      bottom: 0;

      @include respond(lg) {
        bottom: 33%;
        transform: scaleY(1);
      }
    }

    &__links {
      display: inherit;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 70%;

      @include respond(lg) {
        flex: 0 0 100%;
      }

      ul {
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;

        li {
          list-style: none;

          a {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    p {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--color-bl);
      letter-spacing: 0.5rem;
    }
  }
}
