@import "../../Resources/design-tokens/mixins";

.cardList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;

  background-color: var(--color-bg);
  @include respond(md) {
    height: 100vh;
  }
}
